<div class="bar">
    <div id="sidebar" class="sidebar">
        <div class="content">
            <!-- Header / Logo -->
            <div class="sidebar-header">
                <div class="logo">
                    <img src="/img/OClogo.jpg" alt="logo">
                    <h4>Oficial de Cumplimiento</h4>
                </div>

                <div id="arrow" class="arrow"><i class="fa-solid fa-caret-left"></i></div>
                
            </div>

            <!-- Menu -->
            <nav class="menu">
                <ul>
                    <li>
                        <a href="/DashboardOC">
                            <i class="fa-solid fa-house"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a class="selected" href="/alertas">
                            <i class="fa-solid fa-bell"></i>
                            <span>Alertas</span>
                        </a>
                    </li>

                    <li>
                        <a href="/reportes">
                            <i class="fa-solid fa-align-right"></i>
                            <span>Reportes</span>
                        </a>
                    </li>

                    <li>
                        <a href="/operaciones">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <span>Operaciones</span>
                        </a>
                    </li>

                    <li>
                        <a href="/expediente">
                            <i class="fa-solid fa-person-circle-plus"></i>
                            <span>Expediente</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Usuario -->
            
            <div class="user">
                <div>
                <img src="/img/OClogo.jpg" alt="user">
                </div>

                <div class="user-info">
                    <h5>OC</h5>
                    <p>OficialDeCumplimiento@gmail.com</p>
                </div>

                <i class="fa-solid fa-sort-down"></i>
            </div>
        </div>
    </div>
</div>