<h1>Alertas</h1>

<table>
    <thead>
        <tr>
            <th>ID_Alerta</th>
            <th>ID_Cliente</th>
            <th>ID_Operacion</th>
            <th>Tipo</th>
            <th>Motivo</th>
            <th>Evidencia</th>
            <th>Fecha_Generacion</th>
            <th>Estatus</th>
            <th>Fecha_Cierre</th>
        </tr>
    </thead>
    <tbody id="tabla-alertas"></tbody>
</table>