<div class="main-content">
     <div class="header">
         <h2>Dashboard</h2>
         <p>Bienvenido, Empleado. Desde aquí puedes gestionar los expedientes, reportes y transacciones.</p>
     </div>
 </div>