<h1>Expedientes</h1>

<table border = "1">
    <thead>
        <tr>
            <th>ID_Expediente</th>
            <th>ID_Cliente</th>
            <th>Actividad</th>
            <th>Nombre</th>
            <th>Apellido_Paterno</th>
            <th>Apellido_Materno</th>
            <th>Nacionalidad</th>
            <th>Fecha_Nacimiento</th>
            <th>RFC</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Domicilio</th>
            <th>Numero_ID_Fiscal</th>
            <th>Numero_Serie_Firma</th>
        </tr>
    </thead>
    <tbody id="tabla-expedientes"></tbody>
</table>  