<!DOCTYPE HTML>
<html>
<head>
  <%- include('./partials/css') %>
</head>
<body>
  <%- include('./components/sidebar') %>
  <%- include('./partials/content') %>
</body>
  <%- include('./partials/script') %>
</html>